*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
nav{
    background-color: rgb(166, 224, 166);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}

    .Content{
        background-color: rgb(163, 148, 233);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px 200px;
}
    }